{% extends '::base.html.twig' %}

{% block body %} 

	<section id="error" class="container">
	
		{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

		<div class="row-fluid">
			 <div class="span6" align="right">
				<fieldset class="registration-form">
					<div class="control-group" align="center">
						{{ error }}
						<div class="controls">
							{{ form_errors(form.number) }}
							{{ form_widget(form.number, { 'attr': {'class': 'input-xlarge', 'placeholder': 'Room number', 'autocomplete': 'off', 'value': ''}}) }}
						</div>
					</div>
				
					<div class="control-group" align="center">
						<div class="controls">
							{{ form_label(form.Remove) }}
							{{ form_widget(form.Remove, { 'attr': {'class': 'btn btn-success btn-large btn-block', 'id': 'submit', 'name': 'submit'}}) }}
						</div>
					</div>

					<div class="control-group" align="center">
						<div class="controls">
							{{ form_label(form.Back) }}
							{{ form_widget(form.Back, { 'attr': {'class': 'btn btn-success btn-large btn-block', 'id': 'submit', 'name': 'submit'}}) }}
						</div>
					</div>
				</fieldset>
			</div>

	        <div class="span3" align="left">

				<fieldset class="registration-form">
					<div class="control-group" align="center" >
						<h3>All existent rooms:</h3>
						<div class="controls" align="left" style="width: 400px; height: 400px; overflow-y: scroll;">
							<ul> 
								{% for room in rooms %}
									<li>
										<b><font size="2"> Room Number:</font></b> {{ room.number }} 
										<ul>
											<li>
												<i><b>Price:</b></i> {{ room.price }} LEI
											</li>
											<li>
												<i><b>Facilities:</b></i>
												{% for facility in room.getFacilities %}
													{{ facility.facility }},
												{% endfor %}
											</li>
											<li>
												<i><b>Type:</b></i>
												{% for type in room.getType %}
													{{ type.name }},
												{% endfor %}
											</li>
										</ul>
									</li>	
								{% endfor %}
							<ul/>
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		{{ form_end(form) }}

	</section>

{% endblock %}

